:root {
  --swiper-theme-color: #e6f4fd;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
}

.main_content {
  z-index: 1;
}

.main_content .main_title {
  @apply bg-secondary mb-3;
}

aside {
  box-shadow: 0 12px 30px rgba(80, 143, 244, 0.1);
  z-index: 99;
}

.details {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'details-icon details-value'
    'details-icon details-units';
}

.details-icon {
  grid-area: details-icon;
  @apply flex items-center w-16 row-span-2 justify-items-start;
}

.details-value {
  grid-area: details-value;
  @apply flex items-baseline text-xl font-bold text-black;
}

.details-units {
  grid-area: details-units;
  @apply flex items-end text-xl text-secondary;
}

ul.tags-list {
  @apply flex flex-row flex-wrap justify-start list-none;
}

ul.tags-list > li {
  @apply p-4 my-2 mr-2 text-lg leading-none rounded-lg bg-ternary-light text-ternary-dark;
}

.flex-table {
  @apply flex flex-wrap items-stretch overflow-hidden;
}

.table-row {
  display: contents;
}

.table-row.header > .table-cell {
  @apply text-sm font-bold text-left bg-white text-primary-dark whitespace-nowrap;
}

.table-row.header.bordered > .table-cell {
  @apply border-b border-solid border-primary-dark;
}

.table-row:not(.header):hover > .table-cell {
  @apply underline cursor-pointer;
}

.table-cell {
  @apply w-1/5 my-1 overflow-hidden sm:my-1;
  @apply self-center px-6 py-1 text-left whitespace-nowrap;
}

.good {
  @apply relative m-2 bg-white border-2 rounded-md cursor-pointer border-secondary-light;
  @apply transition duration-200 ease-in-out;
}

.good a.good-btn {
  @apply relative overflow-hidden rounded;
}

.good:hover {
  @apply border-black;
}

.good.active {
  @apply border-secondary hover:border-black;
}

.good .good__image {
  @apply h-28;
  filter: grayscale(100%);
}

.good .good__image img {
  @apply object-cover object-center w-40 rounded aspect-auto;
  @apply [clip-path:polygon(55%_0,100%_0,100%_100%,0%_100%)];
  @apply transition duration-200 ease-in-out;
  opacity: 0.4;
  transform: scale(1.25);
}

.good.active::after {
  content: '';
  @apply absolute w-2 h-2 rounded-full bg-secondary;
  right: -13px;
  top: 50%;
}

.good.active .good__image,
.good:hover .good__image {
  filter: grayscale(0);
}

.good.active .good__image img {
  opacity: 1;
}

.good:hover .good__image img {
  opacity: 1;
  transform: scale(1);
}

.good .good__content {
  @apply flex flex-col flex-1 mt-3 ml-5 gap-y-1;
  z-index: 10;
}

.add-good {
  @apply text-center;
}

.add-good a {
  @apply block border-2 border-dashed rounded-md border-secondary;
  @apply bg-secondary-lighter text-secondary hover:text-gray-600 hover:border-gray-600;
  @apply p-2 m-2 cursor-pointer;
}

.slideshow {
  @apply flex flex-row flex-nowrap;
}

/* TABS */

.tabs-wrapper {
  @apply container h-10 mx-auto mb-8;
  margin-top: -56px;
  z-index: 20;
}

.tabs {
  @apply flex items-center justify-start my-4 gap-2;
}

.tab {
  @apply px-4 py-2 cursor-pointer bg-ternary text-ternary-light rounded-t;
}

.tab:hover {
  @apply bg-ternary-dark;
}

.tab.active {
  @apply bg-gray-100 text-secondary font-semibold;
}
