@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow-sm {
    text-shadow: 1px 1px 2px black;
  }
  .text-shadow {
    text-shadow: 2px 2px 4px black;
  }
  .text-shadow-md {
    text-shadow: 4px 4px 8px black;
  }
  .text-shadow-lg {
    text-shadow: 15px 15px 30px black;
  }
  .text-shadow-none {
    text-shadow: none;
  }
}

@layer components {
  html {
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }

  .form-select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
    background-position: right 0.75rem center;
    background-size: 16px 12px;
  }

  .btn {
    @apply px-3 py-1 text-base font-medium border border-transparent rounded text-gray-600 bg-gray-200 hover:bg-gray-400;
  }

  .btn-md {
    @apply px-4 py-2;
  }

  .btn-lg {
    @apply px-5 py-3;
  }

  .btn-primary {
    @apply text-white bg-primary hover:bg-primary-dark;
  }

  .btn-secondary {
    @apply text-white bg-secondary hover:bg-secondary-dark;
  }

  .btn-secondary.inverse {
    @apply bg-transparent border-secondary  hover:bg-secondary-dark;
  }

  .btn-ternary {
    @apply text-white bg-ternary hover:bg-ternary-dark;
  }

  .btn-ternary.inverse {
    @apply bg-transparent text-ternary bg-ternary-lighter  hover:bg-ternary hover:text-white;
  }

  .btn-group {
  }

  .btn-group .btn {
    @apply mx-2;
  }

  .badge {
    @apply inline-block font-bold leading-4 text-center whitespace-nowrap;
    font-size: 0.78em;
    text-transform: uppercase;
    padding: 5px 10px;
    min-width: 19px;
  }

  .badge-sm {
    font-size: 0.7em;
    padding: 2px 5px;
  }

  .badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
  }

  .badge-rounded {
    padding-right: 0.6em;
    padding-left: 0.6em;
    @apply rounded;
  }

  .badge-warning {
    @apply bg-warning text-white;
  }

  .badge-info {
    @apply bg-info text-white;
  }

  .badge-success {
    @apply bg-success text-white;
  }

  .badge-danger {
    @apply bg-danger text-white;
  }

  .card {
    /* box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%),
      0 0.125rem 0.1875rem rgb(4 9 20 / 3%); */
    @apply border-2 border-primary-lighter rounded bg-white;
  }

  .card-header {
    @apply px-4 py-2;
  }

  .card-title {
    @apply text-2xl font-semibold text-secondary-dark border-b-2 border-b-primary-lighter;
  }

  .card-content {
    @apply p-5;
  }

  .pagination {
    @apply container flex justify-center mx-auto my-10;
  }

  .pagination ul {
    @apply flex border border-primary-lighter rounded;
  }

  .pagination ul > li {
    @apply text-sm  text-primary-light bg-white border-l border-primary-lighter hover:bg-gray-100;
  }
  .pagination ul > li button[disabled] {
    @apply text-primary-lighter;
  }

  .pagination ul > li:first-child {
    @apply border-l-0 rounded-l;
  }
  .pagination ul > li:last-child {
    @apply rounded-r;
  }

  .pagination ul > li.active {
    @apply bg-primary-lighter;
  }

  .pagination ul > li button {
    @apply py-1 px-2;
  }

  .form-check-input {
    @apply appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-secondary checked:border-secondary focus:outline-none;
    @apply transition duration-200 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer;
    margin-top: 0.1rem;
  }

  .form-check-input:checked[type='checkbox'] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  }

  .form-input {
    @apply w-full px-4 py-2 text-lg font-normal transition ease-in-out bg-white border-2 border-gray-300 rounded focus:outline-none focus:border-secondary-light;
  }

  .form-textarea {
    @apply w-full p-2 bg-white border-2 border-gray-300 rounded-md resize-none focus:outline-none focus:border-secondary-light;
  }

  .form-select {
    @apply w-full px-4 py-2 text-lg font-normal transition ease-in-out bg-white border-2 border-gray-300 rounded focus:outline-none focus:border-secondary-light;
    @apply appearance-none bg-clip-padding bg-no-repeat;
  }

  .form-fieldset {
    @apply pt-3 px-6 pb-7 mx-3 border-2 border-secondary-light border-solid rounded mb-6;
  }

  .form-fieldset > legend {
    @apply px-4 text-secondary-dark font-semibold;
  }

  .form-component {
    @apply mx-3;
  }

  .form-fieldset.dropdown {
    @apply pt-7;
  }

  .list {
    @apply appearance-none shadow;
  }

  .list > .list-item {
    @apply hidden;
  }

  .list.open > .list-item {
    @apply block;
  }

  .list-item {
    @apply px-5 py-2;
  }

  .list-item:hover {
    @apply bg-secondary-lighter cursor-pointer;
  }
}
